body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: lavender;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/ba/Vincent_van_Gogh_-_Wheatfield_with_crows_-_Google_Art_Project.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
}

#colors-list {
  display: inline-flex;
  justify-content:space-around;
}

#colors-list div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
  transition: all 1s ease;
  text-transform: uppercase;
}

.selected {
  border: 2px solid black;
  border-radius: 25px;
}


.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: rgb(87, 87, 177);
}
.violet {
  background-color: #943694;
}
.black {
  background-color: #000000;
}
.pink {
  background-color:pink;
}  



